.App-link {
  color: #61dafb;
}

.logoWrapper {
  position: absolute;
  display: flex;
  top: 0;
  margin-top: -60px;
  width: 100%;
  text-align: center;
  height: 0px;
  /* rgb(85, 155, 217) */
}

.logoWrapper img {
  max-width: 150px;
  margin: auto;
  border-radius: 50%;
}
