.pullmanRide {
    padding: 10px 30px;
    margin: 15px;
    box-shadow: 0px 0px 10px #CCC;
    border-radius: 17px;
}

.rideStops {
    padding: 30px 15px;
    border-top: dotted 1px #CCC;
}